# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.portfolio-react.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\kOdeS\projects\personal\portfolio-react\.idea\.idea.portfolio-react.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
